{% extends 'base.html.twig' %}

{% block body %}
    <h2>Static content HomePage 122 SO</h2>
    <a href="http://www.abetari.com">Abetari.com</a>
    <a href="http://www.abetari.com">Abetari.com</a>
{% endblock %}